<div class="row align-items-center justify-content-center header"
     style="background-color: black; height: 50px; color: aliceblue">
  <div>
    <a role="button" routerLink="speech" routerLinkActive="active" class="btn btn-info button" >
      View my Speeches
    </a>
  </div>
  <div>
    <a role="button" routerLink="speech/new" routerLinkActive="active" class="btn btn-info button" >
      Submit a new Speech
    </a>
  </div>
  <div>
    <a role="button" routerLink="speech/search" routerLinkActive="active" class="btn btn-info button" >
      Search all Speeches
    </a>
  </div>
</div>
