.left-side {
  margin: 25px;
  background-color: #f2f2f2;
  padding-bottom: 50px;

  .left-side-title {
    padding-top: 10px;
  }

  .left-side-content {
    i {
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
    .col {
      display: inline-block;

      .item-right-side {
        float: right;
      }

      margin: 0;
      padding: 0;
    }

    .left-side-content-item {
      span {
        color: #2da0bb;
        &:hover {
          font-weight: 600;
          cursor: pointer;
        }
      }

      input {
        width: 50%;
        display: inline-block;
        height: 40%;
        padding: 0 0 0 5px;
      }

      span.active {
        font-weight: 600;
        text-decoration-line: underline;
      }
    }
  }
}
