.left-side {
  margin: 25px;
  background-color: #f2f2f2;
  padding-bottom: 50px;

  .left-side-title {
    padding-top: 10px;
  }

  .left-side-content {
    i {
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
    .col {
      display: inline-block;

      .item-right-side {
        float: right;
      }

      margin: 0;
      padding: 0;
    }
  }
}
