<div class="content">
  <div class="row justify-content-center content-header">
    <h2>Speech title</h2>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="speech.content" rows="10"
                        placeholder="Speech content"></textarea>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="authorFormControlInput">Author</label>
        <input type="text" class="form-control" [(ngModel)]="speech.author" id="authorFormControlInput" placeholder="Author">
      </div>
      <div class="form-group">
        <label for="keywordsFormControlInput">Keywords</label>
        <input type="text" class="form-control" [(ngModel)]="speech.keywords" id="keywordsFormControlInput" placeholder="Keywords">
      </div>
      <div class="form-group">
        <label for="dateFormControlInput">Date</label>
        <input type="date" class="form-control" [(ngModel)]="speech.date" id="dateFormControlInput" placeholder="Date">
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-sm-5">
      <button type="button" (click)="save()" style="width: 100%" class="btn btn-info">
        Save
      </button>
    </div>
  </div>
</div>
