.content {
  margin: 25px;
  padding: 0 25px 15px 25px;
  background-color: #f2f2f2;

  .content-header {
    padding: 10px 0;
  }

  button {
    height: 44px;
  }
}

@media (max-width: 768px) {
  .content {
    margin: 15px 0 15px 0;
    padding: 0 10px 10px 10px;
    background-color: #f2f2f2;

    .content-header {
      padding: 10px 0;
    }
  }
}



@media (max-width: 575px) {

  .button-block {
    margin-bottom: 15px;
  }

}
